<!DOCTYPE html>
<html lang="ja">
<%- include('../common/_head2') %>
<header class="l-header">
  <%- include('../common/_p-header2') %>
</header>
<main>
  <section class="l-subMv">
    <%- include('../project/_p-subMv',{
      title:'concept',
      subtitle:'コンセプト'
    }) %>
  </section>
  <div class="l-breadcrumb">
    <%- include('../project/_p-breadcrumb',{
        page:'concept'
    }) %> 
  </div>
  <section class="l-conceptTop">
    <%- include('../project/_p-conceptTop') %> 
  </section>
  <div class="l-point">
    <%- include('../project/_p-point') %> 
  </div>
  <section class="l-worklife">
    <%- include('../project/_p-worklife') %> 
  </section>
  <section class="l-strong">
    <%- include('../project/_p-strong') %> 
  </section>
  
  <div class="l-entry">
    <%- include('../project/_p-entry') %>
  </div>
</main>
<footer class="l-footer">
  <%- include('../common/_p-footer2') %>
</footer>
</body>

</html>