<!DOCTYPE html>
<html lang="ja">
<%- include('../common/_head2') %>
<header class="l-header">
  <%- include('../common/_p-header2') %>
</header>
<main>
  <section class="l-subMv">
    <%- include('../project/_p-subMv',{
      title:'concept',
      subtitle:'コンセプト'
    }) %>
  </section>
  <div class="l-environmentLinks">
    <%- include('../project/_p-environmentLinks') %>
  </div>
  <section class="l-workStyle">
    <%- include('../project/_p-workStyle_12days') %>
  </section>
  <section class="l-workStyle">
    <%- include('../project/_p-workStyle_night') %>
  </section>
  <section class="l-workStyle">
    <%- include('../project/_p-workStyle_17days') %>
  </section>
  <section class="l-environmentMmerit">
    <%- include('../project/_p-environmentMerit') %>
  </section>
  <div class="l-entry">
    <%- include('../project/_p-entry') %>
  </div>
</main>
<footer class="l-footer">
  <%- include('../common/_p-footer2') %>
</footer>
</body>

</html>