<div class="p-banners">
    <div class="p-banners__inner">
        <div class="p-banners__items">
            <div class="p-banners__item">
                <div class="p-banners__title">
                    <%- include('../component/_c-title',{
                        type:'white',
                        subtitle:'社長挨拶',
                        title:'MESSAGE'
                    }) %> 
                </div>
                <h3 class="p-banners__subtitle">枚岡交通の代表メッセージ</h3>
                <p class="p-banners__text">
                    枚岡交通は６３年間、東大阪(中部・東部)エリアでのお客様の足として、活躍してまいりました！次世代を担う若者の皆様と、より安全でより安心な、地元の方から愛される会社を一緒に作りませんか？
                </p>
                <button class="p-banners__btn">
                    <%- include('../component/_c-btn',{
                        type:'',
                        link:'./message/',
                        text:'代表挨拶へ'
                    }) %> 
                </button>
                <picture class="p-banners__img">
                    <img src="./images/top/banner_01.jpg" alt="">
                </picture>
            </div>
            <div class="p-banners__item">
                <div class="p-banners__title">
                    <%- include('../component/_c-title',{
                        type:'white',
                        subtitle:'ニュース',
                        title:'NEWS'
                    }) %> 
                </div>
               <div class="p-banners__news">
                   <div class="p-banners__lists">
                       <div class="p-banners__list">
                           <%- include('../component/_p-list') %> 
                       </div>
                       <div class="p-banners__list">
                        <%- include('../component/_p-list') %> 
                       </div>
                    </div>
               </div>
                <button class="p-banners__btn">
                    <%- include('../component/_c-btn',{
                        type:'',
                        link:'./news/',
                        text:'ニュース一覧へ'
                    }) %> 
                </button>
                <picture class="p-banners__img">
                    <img src="./images/top/banner_02.jpg" alt="">
                </picture>
            </div>
            <div class="p-banners__item">
                <div class="p-banners__title">
                    <%- include('../component/_c-title',{
                        type:'white',
                        subtitle:'採用情報',
                        title:'RECRUIT'
                    }) %> 
                </div>
                <p class="p-banners__text">
                    ITの発達により交通産業に変革が起きている今、枚岡交通はより積極的にアクションを起こしていきます。経験者/未経験社は問いません。枚岡交通で一緒に働きませんか？？
                </p>
                <button class="p-banners__btn">
                    <%- include('../component/_c-btn',{
                        type:'',
                        link:'./recruit/',
                        text:'採用情報へ'
                    }) %> 
                </button>
                <picture class="p-banners__img">
                    <img src="./images/top/banner_03.jpg" alt="">
                </picture>
            </div>
        </div>
    </div>
</div>