<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
    <header class="l-header">
      <%- include('./common/_p-header') %> 
    </header>
    <main>
      <div class="l-mv">

      </div>
      <section class="l-concept">

      </section>
      <section class="l-training">

      </section>
      <section class="l-frivers">

      </section>
      <section class="l-environment">
        <%- include('./project/_p-environment') %> 
      </section>
      <div class="l-banners">

      </div>
      <div class="l-about">
        <%- include('./project/_p-about') %> 
      </div>
    </main>
    <footer class="l-footer">
      <%- include('./common/_p-footer') %> 
    </footer>
  </body>
</html>
