<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
<style>
    p {
        font-size: 48px;
    }
    div + div {
        margin-top: 30px;
    }
    main {
        margin-top:300px; 
        max-width:1000px; 
        padding:0 20px;
    }
</style>
  <body  style="background-color:skyblue">
    <header class="l-header">
      <%- include('./common/_p-header') %> 
    </header>
    <main>

        <div>
            <p >c-title</p>
            <div class="p-XX__title">
                <%- include('./component/_c-title',{
                    type:'whiteCenter',
                    subtitle:'日本語テキスト',
                    title:'英語テキスト'
                }) %> 
            </div>
        </div>

        <div>
            <p>c-entryBtn2</p>
            <div class="p-XX__btn">
                <%- include('./component/_c-entryBtn2',{
                    link:'#'
                }) %> 
            </div>
        </div>
    </main>
    <footer class="l-footer">
      <%- include('./common/_p-footer') %> 
    </footer>
  </body>
</html>
