<% if ( type === "white") { %>
    <div class="c-title c-title--white">
        <p class="c-title__ja"><%= subtitle %> </p>
        <h2 class="c-title__en"><%= title %></h2>
    </div>
<% } else if ( type === "center"){ %>
    <div class="c-title c-title--center">
        <p class="c-title__ja"><%= subtitle %> </p>
        <h2 class="c-title__en"><%= title %></h2>
    </div>
<% } else if ( type === "whiteCenter"){ %>
    <div class="c-title c-title--center c-title--white">
        <p class="c-title__ja"><%= subtitle %> </p>
        <h2 class="c-title__en"><%= title %></h2>
    </div>
<% } else if ( type === "smallCenter"){ %>
    <div class="c-title c-title--center c-title--small">
        <p class="c-title__ja"><%= subtitle %> </p>
        <h2 class="c-title__en"><%= title %></h2>
    </div>
<% } else { %>
    <div class="c-title">
        <p class="c-title__ja"><%= subtitle %> </p>
        <h2 class="c-title__en"><%= title %></h2>
    </div>
<% } %>
