<!DOCTYPE html>
<html lang="ja">
<%- include('../common/_head2') %>
    <header class="l-header">
    <%- include('../common/_p-header2') %>
    </header>
    <main>
    <section class="l-subMv">
        <%- include('../project/_p-subMv',{
        title:'cambus',
        subtitle:'キャンパス'
        }) %>
    </section>

    <div class="l-coming">
        <%- include('../project/_p-coming') %> 
    </div>
    
    </main>
    <footer class="l-footer l-footer--none">
    <%- include('../common/_p-footer2') %>
    </footer>
</body>

</html>